################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/StubHttpServer/.vs/StubHttpServer/v16
/StubHttpServer/StubHttpServer/bin
/StubHttpServer/StubHttpServer/obj
/StubHttpServer/bin
/.vs/StubHttpServer/v16/Server/sqlite3
/StubHttpServer/obj
