<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="hostUrl" value="http://localhost:50000" />
        <add key="api1addr" value="/api1/"/>
        <add key="api2addr" value="/api2/"/>
    </appSettings>
</configuration>